.btn-top {
    position: absolute;
    right: 16px;
    bottom: 24px;
    width: 64px;
    height: 64px;
    background: #59BD5A url("../img/top.svg") no-repeat center;
    border-radius: 2px;
    font-size: 0;
    cursor: pointer;
  }
  
  @media (min-width: 768px) {
    .btn-top {
      width: 80px;
      height: 80px;
    }
  }